#### Changelog

1. Q13.3 How many clams that are wider than 0.4, have first name "Monster"?   
2. Q13.4 What was the second name of a clam captured at March, 8, that was longer than 0.65 and wider than 0.57?
3. Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle.
4. Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

# Assignment 1. Sea Ears.
by Anvar Kurmukov,
updated by Bogdan Kirillov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using the data on a species of clam called abalone, also known as "Sea ears". This dataset is in public domain and can be obtained from Delve: http://www.cs.toronto.edu/~delve/data/abalone/desc.html For this task, we have modified the dataset slightly, so you could try out some complicated data manipulation techniques while keeping the dataset as simple as possible. So, in our case, each abalone clam is a promising rapper who is ready for a debut mixtape.

You need to place "sea_ears.csv" file in the same directory as this notebook.

In [153]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `sea_ears.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [154]:
COLAB_P = True
if COLAB_P:
  print("Upload your file, then read it with pd.read_csv()")
  from google.colab import files
  uploaded = files.upload()
  fn = list(uploaded.keys())[0]
  print("File is uploaded to ", fn)
else:
  print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Upload your file, then read it with pd.read_csv()

Saving sea_ears.csv to sea_ears (2).csv
File is uploaded to  sea_ears.csv

In [155]:
# Load the data

df = pd.read_csv("sea_ears.csv", index_col=0)

In [156]:
# Observe top 10 observations (int)
df.head(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0
5,2648,DJ,Block,Head,20201224T000000,M,0.500,0.380,0.120,0.5765,0.2730,0.1350,0.1450,9.0
6,3723,Big,Full,Death,20200110T000000,I,0.470,0.355,0.120,0.4915,0.1765,0.1125,0.1325,9.0
7,251,Dungeon,Glam,Death,20200824T000000,M,0.590,0.470,0.180,1.1235,0.4205,0.2805,0.3600,13.0
8,1148,MC,College,Machine,20200623T000000,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
9,1949,Monster,Full,Kitty,20200202T000000,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11.0

In [157]:
# Q1.1 What is the length of an abalone with id 986?
# Q1.2 How many rings the fifth abalone with "FN" == "Fresh" has?
# Q1.3 How many rings the sample with id 67 has?
print(df[df['id']==67]['Rings'].iloc[0])
# Q1.4 What is the `Height` of a thirty fourth sample with `Rings` == 10?
# Q1.5 How heavy as a whole is the female abalone #6?
print(df[df['Sex']=='F'].iloc[5]['Whole'])
# Please note that for some questions there are several answers. If that's the 
# case, show all of them. Also for some, there is none. If so, show the shape 
# of returned series in your output.

13.0
0.9790900275777944

In [158]:
# Observe last 10 observations (int)
df.tail(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
5690,3883,Big,Glam,Man,20200211T000000,M,0.540,0.425,0.120,0.8170,0.2945,0.1530,0.1950,10.0
5691,3731,Monster,Glock,Machine,20200411T000000,F,0.550,0.415,0.180,1.1655,0.5020,0.3010,0.3110,9.0
5692,3856,Jalapeno,Rock,Kitty,20200719T000000,I,0.335,0.255,0.085,0.1785,0.0710,0.0405,0.0550,9.0
5693,1631,Boss,Glock,Man,20200810T000000,I,0.570,0.445,0.145,0.7405,0.3060,0.1720,0.1825,12.0
5694,283,Jalapeno,Full,Killer,20200804T000000,M,0.485,0.395,0.140,0.6295,0.2285,0.1270,0.2250,14.0
5695,181,Big,Block,Head,20200512T000000,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0
5696,1324,Jalapeno,Full,Head,20201215T000000,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0
5697,1242,Lil',Flow,Machine,20201206T000000,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0
5698,2842,Boss,Full,Killer,20200101T000000,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0
5699,2071,Baby,Glock,Machine,20200119T000000,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0

In [159]:
# Q2.1 What is the diameter of a tenth abalone with second name Flow?
# Q2.2 What is the weight of a shell for 99-th abalone with first name Lil'?
print(df[df['FN']=="Lil'"].iloc[98]['Shell'])
# Q2.3 How many rings twelfth abalone with first name MC' has?
# Q2.4 How many rings the 666-th abalone has?
print(df.iloc[665]['Rings'])
# Q2.5 What is the gender of 1337-th abalone?

0.22
18.0

In [160]:
# Increase maximal displayed columns
pd.options.display.max_columns = 30

In [161]:
# Observe top 10 observations again
# Is there any new columns displayed?
df.head(10)
# no

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0
5,2648,DJ,Block,Head,20201224T000000,M,0.500,0.380,0.120,0.5765,0.2730,0.1350,0.1450,9.0
6,3723,Big,Full,Death,20200110T000000,I,0.470,0.355,0.120,0.4915,0.1765,0.1125,0.1325,9.0
7,251,Dungeon,Glam,Death,20200824T000000,M,0.590,0.470,0.180,1.1235,0.4205,0.2805,0.3600,13.0
8,1148,MC,College,Machine,20200623T000000,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
9,1949,Monster,Full,Kitty,20200202T000000,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11.0

In [162]:
# Print all the columns/features names (int)
df.columns

Index(['id', 'FN', 'SN', 'LN', 'Captured', 'Sex', 'Length', 'Diam', 'Height',
       'Whole', 'Shucke', 'Viscera', 'Shell', 'Rings'],
      dtype='object')

In [163]:
# Q3.1 How many columns end with a vowel?
# Q3.2 How many columns start with a vowel?
print(1)
# Q3.3 Which columns are associated with the weight of the clam?
print('Whole', 'Shucke', 'Viscera', 'Shell')
# Q3.4 How many columns have `th` in their names?

1
Whole Shucke Viscera Shell

In [164]:
# Print data size (int)

# Q4.1 How many observations are in the data?
print(len(df))
# Q4.2 How many features are in the data?
print(df.shape[1])

5700
14

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [165]:
# Display number of not NaN's in every column (int)
print(df.count(), '\n\n')

# Q5.1 How many NA values are in the `Whole` column?
# Q5.2 How many NA values are in the `Rings` column?
print(df['Rings'].isna().sum())
# Q5.3 How many NA values are in the `Viscera` column?
# Q5.4 How many NA values are in the `FN` column?
print(df['FN'].isna().sum())
# Q5.5 How many explicit NA values are in the `Shell` column?

id          5700
FN          5700
SN          5700
LN          5700
Captured    5700
Sex         5700
Length      5545
Diam        5079
Height      4931
Whole       5687
Shucke      4334
Viscera     5158
Shell       4938
Rings       4960
dtype: int64


740
0

In [166]:
# Count number of unique values in every column (int)
print(df.nunique(), '\n\n')

# Q6.1 How many unique values are in the `FN` column?
print(df['FN'].nunique())
# Q6.2 How many unique values are in the `SN` column?
# Q6.3 How many unique values are in the `Rings` column?
# Q6.4 How many unique values are in the `Viscera` column?
print(df['Viscera'].nunique())
# Q6.5 How many unique values are in the `Shell` column?

id          5700
FN            12
SN             8
LN             7
Captured     288
Sex            3
Length      1502
Diam        1013
Height       805
Whole       3939
Shucke      1672
Viscera     1861
Shell       1687
Rings         29
dtype: int64


12
1861

In [167]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
print(df['Sex'].value_counts(), '\n\n')


# Q7.1 For every unique `FN` value give its number of occurences.
# Q7.2 For every unique `SN` value give its number of occurences.
print(df['SN'].value_counts(), '\n\n')
# Q7.3 For every unique `Rings` value give its number of occurences.
print(df['Rings'].value_counts())
# Q7.4 For every unique `Sex` value give its number of occurences.
# Q7.5 For every unique `LN` value give its number of occurences.

M    2076
I    1849
F    1775
Name: Sex, dtype: int64


Flow       777
Rock       713
Block      711
College    709
Breeze     709
Full       707
Glock      690
Glam       684
Name: SN, dtype: int64


9.0     775
10.0    696
8.0     661
11.0    558
7.0     475
12.0    323
6.0     316
13.0    241
5.0     170
14.0    157
15.0    121
4.0      86
16.0     83
17.0     69
18.0     49
19.0     40
3.0      38
20.0     27
21.0     18
2.0      16
22.0     11
23.0     10
1.0       7
0.0       3
25.0      3
24.0      3
27.0      2
26.0      1
29.0      1
Name: Rings, dtype: int64

In [168]:
# Display basic data statistics using .describe()
df.describe()

,id,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
count,5700.000000,5545.000000,5079.000000,4931.000000,5687.000000,4334.000000,5158.000000,4938.000000,4960.000000
mean,2849.500000,0.547853,0.424571,0.154530,0.849702,0.361736,0.198908,0.253074,9.826613
std,1645.592598,0.130588,0.108177,0.059298,0.493289,0.222923,0.118113,0.145495,3.378726
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,0.000000
25%,1424.750000,0.465000,0.355000,0.120000,0.458250,0.188125,0.106154,0.140500,8.000000
50%,2849.500000,0.561707,0.435000,0.150000,0.816500,0.338750,0.188687,0.245000,9.000000
75%,4274.250000,0.635000,0.500000,0.176963,1.177500,0.504000,0.274500,0.345000,11.000000
max,5699.000000,0.968190,0.794032,1.130000,2.875274,1.488000,0.760000,1.044635,29.000000

In [169]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.1 What are the max, min, mean and the std of the `Viscera` column?
# Q8.2 What are the max, min, mean and the std of the `Rings` column?
print(df['Rings'].describe().apply(lambda x: round(x, 3)), '\n\n')
# Q8.3 What are the max, min, mean and the std of the `Length` column?
# Q8.4 What are the max, min, mean and the std of the `Diam` column?
print(df['Diam'].describe().apply(lambda x: round(x, 3)))
# Q8.5 What are the max, min, mean and the std of the `Whole` column?

count    4960.000
mean        9.827
std         3.379
min         0.000
25%         8.000
50%         9.000
75%        11.000
max        29.000
Name: Rings, dtype: float64


count    5079.000
mean        0.425
std         0.108
min         0.055
25%         0.355
50%         0.435
75%         0.500
max         0.794
Name: Diam, dtype: float64

In [170]:
# Display data types of all columns (int)
print(df.dtypes, '\n\n')
# Q9.1 How many columns have `object` data type?
# Q9.2 How many columns have `int64` data type?
# Q9.3 How many columns have `float64` data type?
print(len(df.select_dtypes(include='float64').columns), '\n\n')
# Display data types of all columns (list of str)
# Q9.4 What are the columns with dtype == `float64`?
print(df.select_dtypes(include='float64').columns)
# Q9.5 What are the columns with dtype == `int64`?

id            int64
FN           object
SN           object
LN           object
Captured     object
Sex          object
Length      float64
Diam        float64
Height      float64
Whole       float64
Shucke      float64
Viscera     float64
Shell       float64
Rings       float64
dtype: object


8


Index(['Length', 'Diam', 'Height', 'Whole', 'Shucke', 'Viscera', 'Shell',
       'Rings'],
      dtype='object')

In [171]:
df = df.dropna()

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [172]:
# Select rows by position (int) 

# Q10.1 What is the first name of a clam on row 777?
print(df['FN'].iloc[776])
# Q10.2 What is the last name of a clam on row 999?
# Q10.3 How long is a clam from row 1337?
print(df['Length'].iloc[1336])
# Q10.4 What is the gender of a clam from row 314?
# Q10.5 When was the clam with row of 2718 captured?

DJ
0.44

In [173]:
# Select rows by index (int)

# Q11.1 What is the gender of a clam with index 1102?
print(df['Sex'].loc[1102])
# Q11.2 How long is a clam with index 5695?
# Q11.3 How heavy is a clam with index 1045 when still alive?
# Q11.4 When was the clam with index 252 captured?
# Q11.5 What is the middle name of a clam with index 38?
print(df['SN'].loc[38])

M
College

In [174]:
# Using mask or .query syntax select rows/columns (int)

# Q12.1 How many clams have less than 5 rings?
# Q12.2 When were clams named "Boy Rock Killer" captured?
# Q12.3 How many clams have length more than 0.1?
print(df[df['Length']>0.1].shape[0])
# Q12.4 How many clams are heavier (in shell) than 0.3?
print(df[df['Shell']>0.3].shape[0])
# Q12.5 How many clams were captured at 24 of July?

4179
1308

In [175]:
# Using mask or .query syntax select rows/columns (int)

# Q13.1 How many clams were captured in the fall? Including both start and end day.
print(df[df['Captured'].str[4:6].isin(['09','10','11'])].shape[0])
# Q13.2 How many clams that were captured in the fall, have first name "Lil'"?
print(df[(df['Captured'].str[4:6].isin(['09','10','11']))&(df['FN']=="Lil'")].shape[0])
# Q13.3 How many clams that are wider than 0.4, have first name "Monster"?
# Q13.4 What was the second name of a clam captured at March, 8, that that was longer than 0.65 and wider than 0.57?
# Q13.5 How many rings does an infant clam that was captured in June and has shucked weight between 0.54 and 0.55 have?

1009
79

In [176]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.1 What was the average whole weight of clams named "Kitty"?
# Q14.2 What was the whole weight of the heaviest Lil' clam?
print(df[df['FN']=="Lil'"]['Whole'].max())
# Q14.3 What was the weight of the lightest in terms of whole weight clam captured in June?
# Q14.4 What is the median length of clams captured in April?
# Q14.5 What is the minimum diameter of clams named "Master"?
print(df[df['LN']=='Master']['Diam'].min())

2.4925
0.1

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to compute total area of the house as a sum of all sqft_ columns, or create a boolean column of whether the house has grade > 2 or anything else:
```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of total_area and high_value using .apply():
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [177]:
# create full_name column with concatenation of all clam names
df['full_name'] = df['FN'] + '_' + df['SN'] + '_' + df['LN']

In [178]:
df.head()

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid_College_Machine
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno_Glam_Machine
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby_Full_Killer
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid_Rock_Head
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy_Block_Death

In [179]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `age_in_years` column (age is the number of rings +1.5) using any method above
df['age_in_years'] = df['Rings'] + 1.5
# Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle
df['area'] = df['Length'] * df['Diam']
# Q15.3 Create a new column `density` by dividing volume (area multiplied by a fixed number of 0.05) by whole weight
df['density'] = (df['area']*0.05) / df['Whole']
# Q15.4 Create a new column `age_cat` by splitting a `age` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
df['age_cat'] = pd.qcut(df['age_in_years'],
                             q = 5, labels = False)
df['age_cat'] += 1
# Q15.5 Create a new bool column `high_class` it is True if clam has the proportion of shell in whole clam more or equal to 1
df['high_class'] = df['Shell'] >= df['Whole']

In [180]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average age of the clam of the high_class(=True)?
print(df[df['high_class']==True]['age_in_years'].mean())
# Q16.2 What is the average area of the clam from highest age category?
# Q16.3 What is the maximal length amongst clams with the lowest age category?
print(df[df['age_cat']==1]['Length'].max())
# Q16.4 What is the most frequent gender amongst clams with the lowest age category?
# Q16.5 What is the minimal number of rings in clams with high_class=True?

7.5
0.7355653980090243

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [181]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
df['Captured'] = pd.to_datetime(df['Captured'])
# Q17.2 Extract and store `year`
df['year'] = df['Captured'].dt.year
# Q17.3 Extract and store `month`
df['month'] = df['Captured'].dt.month
# Q17.4 Extract and store `day`
df['day'] = df['Captured'].dt.day
# Q17.5 Extract and store `weekday`
df['weekday'] = df['Captured'].dt.weekday
# Q17.6 Create a new column `age10` - the age of the clam in full decades (e.g. 9 year old clam - 0, 21 year old clam - 2)
df['age10'] = df['age_in_years'] // 10

from datetime import datetime

In [182]:
# Drop column `Captured`

del df["Captured"]

In [183]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular capturing weekday?
# Q18.2 What is the most popular capturing month?
# Q18.3 What is the least popular capturing weekday?
# Q18.4 What is the median age of the clam? (float)
print(df['age_in_years'].median())
# Q18.5 How many clams were captured on the Day of Russia (June, 12)?
print(df[(df['month']==6)&(df['day']==12)].shape[0])

10.5
8

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By group by we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the houses for every grade in a single command:
```
data.groupby('grade')['sqm_tot_area'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has condition == 2, its gp_feature will be equal to the median number of bathrooms amongst all houses with condition == 2.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [184]:
# Create some groupby features

# Q19.1 `whole_by_year` groupby `year` and compute median whole weight.
# Q19.2 `shell_by_weekday` groupby `weekday` and compute median shell weight.
df['shell_by_weekday'] = df['weekday'].map(df.groupby('weekday')['Shell'].median())
# Q19.3 `area_by_age` groupby `age_cat` and compute average `area`.
df['area_by_age'] = df['age_in_years'].map(df.groupby('age_in_years')['area'].mean())
# Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

In [185]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `rings_fn` groupby `n_rings` and count average number of occurences of every unique first name
df['rings_fn'] = df.merge(df.groupby('Rings')['FN'].value_counts().unstack(level=-1).mean(1).reset_index(), on='Rings')[0].values

# Q20.2 `n_month` groupby `month` and count number of captured in each month
df['n_month'] = df.merge(df.groupby('month')['id'].count().reset_index().rename(columns = {'id': 'count'}), on='month')['count'].values

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
-You may create or drop any features you want, except for the features which use age or number of rings (e.g. average number of rings from a clam of high class).

In [215]:
df.head()

,id,FN,SN,LN,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings,full_name,age_in_years,area,density,age_cat,high_class,year,month,day,weekday,age10,shell_by_weekday,area_by_age,rings_fn,n_month
0,835,Kid,College,Machine,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0,Kid_College_Machine,9.5,0.1575,0.014397,2,False,2020,6,21,6,0.0,0.2215,0.196913,47.333333,343
1,540,Jalapeno,Glam,Machine,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0,Jalapeno_Glam_Machine,16.5,0.1875,0.015522,5,False,2020,3,8,6,1.0,0.2215,0.266581,47.333333,343
2,2295,Baby,Full,Killer,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0,Baby_Full_Killer,11.5,0.2158,0.013412,3,False,2020,2,22,5,1.0,0.2180,0.263954,47.333333,343
3,858,Kid,Rock,Head,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0,Kid_Rock_Head,11.5,0.2856,0.012865,3,False,2020,2,22,5,1.0,0.2180,0.263954,47.333333,343
4,2329,Boy,Block,Death,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0,Boy_Block_Death,16.5,0.1872,0.016069,5,False,2020,12,19,5,1.0,0.2180,0.266581,47.333333,343

In [217]:
# Q21 Drop all generated features which used age or number of rings column, e.g. rings_month, age_cat.
Y = df["age_in_years"].values

age_columns = ['age_in_years', 'age_cat', 'age10', 'area_by_age', 'Rings', 'rings_fn']
good_columns = list(set(df.columns) - set(age_columns))
Xdf = df[good_columns]

In [218]:
# Optionally create or drop any features 
Xdf.drop(['FN', 'LN', 'full_name', 'SN', 'Sex', 'id'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [219]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?

# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Xdf, Y, test_size=0.33, random_state=7)

In [220]:
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')
scaler = StandardScaler()
features = X_train.columns
X_train[features] = scaler.fit_transform(X_train[features])
X_test[features] = scaler.transform(X_test[features])

In [221]:
print([X_train.shape[0], X_test.shape[0]])

[2800, 1380]

In [222]:
# Fit predictive regression models.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train, y_train)
# Q23.2 Use decision tree regression
# Q23.3 Use k nearest neighbours regression
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [223]:
# Use grid search to select optimal hyperparamters of your models.

# Q24.1 Alpha for a ridge regression
from sklearn.model_selection import GridSearchCV
params_ridge = {'alpha': [0.1, 0.5, 1, 1.5, 2, 5, 10, 100]}
grid_ridge = GridSearchCV(ridge, params_ridge)
grid_ridge.fit(X_train, y_train)
print(f'Best alpha: {grid_ridge.best_params_}')
# Q24.2 Depth for the tree
# Q24.3 Number of neighbours for the knn
params_knn = {'n_neighbors': [2, 3, 4, 5, 6, 7, 8, 9, 10]}
grid_knn = GridSearchCV(knn, params_knn)
grid_knn.fit(X_train, y_train)
print(f'Best Number of Neighbors: {grid_knn.best_params_}')

Best alpha: {'alpha': 0.1}
Best Number of Neighbors: {'n_neighbors': 10}

In [224]:
# Compute train and test mean squared error for your best models (list of float).

# Q25.1 Train, test MSE using linear regression with l2 regularization
ridge = Ridge(alpha=0.1)
ridge.fit(X_train, y_train)
# Q25.2 Train, test MSE using decision tree regression
# Q25.3 Train, test MSE using k nearest neighbours regression
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

In [225]:
[mean_squared_error(y_train, ridge.predict(X_train)), mean_squared_error(y_test, ridge.predict(X_test)),mean_squared_error(y_train, knn.predict(X_train)),  mean_squared_error(y_test, knn.predict(X_test))]

[4.694029802834318, 4.914263429186397, 4.392042857142857, 6.966057971014493]

In [226]:
# Compute train and test R^2 for your best models (list of float).

# Q26.1 Train, test R^2 using linear regression with l2 regularization
# Q26.2 Train, test R^2 using decision tree regression
# Q26.3 Train, test R^2 using k nearest neighbours regression

from scipy.stats import pearsonr
from sklearn.metrics import r2_score

In [227]:
[r2_score(y_train, ridge.predict(X_train)), r2_score(y_test, ridge.predict(X_test)), r2_score(y_train, knn.predict(X_train)), r2_score(y_test, knn.predict(X_test))]

[0.5505770732422763,
 0.521405145998372,
 0.5794903658023987,
 0.32158307228627325]

In [228]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

In [229]:
cols = X_train.columns
weights = abs(ridge.coef_)
f_imp = pd.DataFrame({'Feature': cols, 'Importance': weights})

In [230]:
f_imp.sort_values('Importance', ascending=False)['Feature'][:5].tolist()

['Whole', 'Shucke', 'area', 'Diam', 'Shell']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells